.navbar-nav li:last-child {
    text-align: center;
    background-color: #aa0011;
    border-radius: 5px;
    transition: 1s;
}

.navbar-nav li:last-child:hover {
    text-align: center;
    background-color: #dd0117;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 1s;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}





