body {
    background: linear-gradient(135deg, #0dcaf0, #0d6efd);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
}

.login-card {
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
    padding: 40px;
}

.login-card h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #0d6efd;
    font-weight: bold;
}

.form-control {
    border-radius: 10px;
}

.btn-login {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    background-color: #0d6efd;
    border-radius: 10px;
    padding: 12px;
    width: 100%;
    transition: 0.3s;
    border: none;
}

.btn-login:hover {
    background: #084298;
}

.enlaces {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9em;
}

.enlaces a {
    color: #0d6efd;
    text-decoration: none;
}

.enlaces a:hover {
    text-decoration: underline;
}